:host {
    --theme-default: #7366ff;
    --theme-secondary: #f99a14;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --success: #198754;
    --info: #0dcaf0;
    --warning: #ffc107;
    --danger: #dc3545;
    --fixedHeight: 50px;
   
}
footer {
    border-top: 1px solid;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-color: var(--gray-400);
    height: calc(var(--fixedHeight) - 1px);
    padding: 0 1rem;
    gap: 0.5rem;
    .social-links {
        display: flex;
        align-items: center;
        gap: 0.73rem;
        path {
            transition: fill 0.3s ease;
            fill: var(--gray-400);
        }
        a {
            &:hover {
                path {
                    fill: var(--gray-900);
                }
            }
        }
    }
}

main {
    min-height: calc(100dvh - var(--fixedHeight));
    box-sizing: inherit;
    position: relative;
    .content-wrapper {
        padding: 0.5rem;
        display: flex;
        gap: 0.5rem;
        .sidebar {
            flex: 0 0 80px;
            padding: 0.25rem;
            gap: 1rem;
            display: flex;
            flex-direction: column;
            border: 1px solid var(--gray-400);
            border-radius: 12px;
            align-self: flex-start;
            .sidebar-item {
                border-radius: 12px;
                padding: 0.5rem 0.2rem;
                font-weight: 400;
                font-size: 0.85rem;
                transition: all ease 0.3s;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 80px;
                gap: 0.5rem;
                &.disable {
                    opacity: 0.5;
                    pointer-events: none;
                }
                i {
                    font-size: 1.6rem;
                    line-height: 0;
                }
                &.active,
                &:hover {
                    background-color: color-mix(in srgb, var(--theme-default) 10%, #fff 90%);
                    color: var(--theme-default)
                }
            }
        }

        .content {
            flex-grow: 1;           
        }

    }
}
@media screen and (max-width:767px) {
    .content-wrapper{
        display: block !important;
        .sidebar{
            flex-direction: row !important;
            margin-bottom: 0.5rem;
            .sidebar-item{
                flex-direction: row !important;
                height: unset !important;
                padding: 0.5rem 0.75rem !important;
                i{
                    font-size: 1.1rem !important;
                }
            }
        }
    }
}